body {
  height: 2000px;
}

p, h1, h2, h3, h4 {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 317px;
  height: 780px;
  border-radius: 12px;

  position: absolute;
  left: 200px;

  display: flex;
  flex-direction: column;

  background-color: #1A1B21;
}